.margin-top-1 {margin-top:1.25rem;}

.custom-dots li::before {
    font-family: 'FontAwesome';
    content: '\f068';
    margin:0 5px 0 -15px;

}

.custom-dots li {list-style: none;}

.service-container-new {
    display: flex;
    align-items: center;
    flex-wrap: wrap;


     
    margin: .5em 0;
}

.service-title {

    
   padding: 1em 0 1em 1em;
   margin-left:1em;
   border-radius:5px;
/* box-shadow: 0px 0px 1px #999; */
text-align: left;}




.highlighter-rouge {background: #F3F1F1;}


h1#site-title span a {
    text-decoration: none !important;
}

.implementation {
    text-align: center;
}

h3 {
    margin: 15px 0 !important;
}

.service-titles {
    text-align: center !important;
}

div#homepage-implementations-column ul li {
    font-size: 1.2em;
}

a {

    color: inherit;
    -webkit-text-decoration-color: teal;
    text-decoration-color: teal;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

.lineno,
.linenos {
    padding: 0 .5em;
    /*background: #333;*/
    border-right: 1px #333 solid;
}

html {
    color: white;
    height: 100%;
}

body {
    background-color: ;
}

/*header styles*/

#site-title-undertitle {
    text-align: center;
    margin-top: -2.2em;
    font-family: 'Martel', serif;
    font-size: 1em;
}

#code-icon {
    text-align: center;
    font-size: 4em;
    border-bottom: 12px solid teal;
    margin-top: -20px;
}

.fa-code {
    color: #333 !important;
}

header {
    margin-bottom: 3em;
}


/*font styles 
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: 'Dosis', sans-serif;

}

p,
ul,
li {
    font-family: 'Martel', serif;
}

h2 {
    font-size: 40px;
    font-size: 2.5rem;
    border-left: 5px solid teal;
    padding-left: .4em;
}

h3 {
    font-size: 32px;
    font-size: 2.0rem;
    border-left: 3px solid teal;
    border-bottom:3px solid teal;
    padding-left: .4em;
}

h4 {
    font-size: 28px;
    font-size: 1.75rem;
    padding-left: .4em;
}

h5 {
    font-size: 24px;
    font-size: 1.5rem;
    padding-left: .8em;
    margin-bottom: 0;
}


p {
    font-size: 1.3em;
}

li {
    font-size: 1.3em;
}

.code-notes li {
    font-size: 17.6px;
    font-size: 1.1rem;
    margin-left: 16px;
    margin-left: 1rem;
}



.post-side-title {
    background: #333;
    color: white;
    text-shadow: 1px 1px 1px #555;
    padding: .25em;
    text-align: center;
    line-height: 1.15em;
    border-left: 0px solid teal !important;
    margin: 0 0 !important;
}

#site-title {
    text-align: center;
    font-size: 3em;
}

footer {
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid teal;
    font-family: 'Martel', serif;
    background: teal;
    margin-top: 5em;
}

footer a {
    text-decoration: none;
    color: black;
}


/*to style the screenshots*/

.screenshot {
    border: 2px dotted gray;
}


/*for the sticky footer*/

body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#homepage-implementations-column h3 {
    border-left: 0px solid teal !important;
}