--- 
layout: default 
title: 'APIs for Librarians' 
---

 


<div class="row"> 
    <div class="medium-12 columns">
        <h2>Introduction</h2>
        <p>The goal of this site is to help librarians (coders and non-coders alike) quickly and easily make their web presences
            stronger by tapping into the wonderful world of APIs. There's a staggering amount of useful data offered to the
            world through APIs - whether it be from Springshare, OCLC, Twitter, weather services, or many more. With some
            code you can pull, manipulate, and display useful data for your users.</p>

        <p>This site is geared towards librarians who aren't web developers but who would like to enhance their LibGuides or
            library websites. Explanations are provided regarding what an implementation does and what exactly you need to
            change in it so that you can use it. If you are a coder, then you can perhaps skip over some of the documentation
            and copy the code right away.</p>

        <p>This is a project in ongoing development. I hope to continually add new implementations. If you have used an API
            and would like to share your code on this site... great! Let me know.</p>

    </div>
    </div>
    <div class="row">
        <div class="small-12 columns"><h2> 
            Browse by services
        </h2></div>
    </div>
    <div class="row">
        <div class="small-12 columns"><h3>
            Springshare
        </h3></div>
       

       
        <div class="small-12 columns service-container-new">
            <div class="small-12 medium-4 columns"><h4 class="post-side-title" id="libguides">LibGuides</h4></div>
            <div class="small-12 medium-8 columns service-list-wrapper">      
                <ul class="custom-dots">
         {% for libguide in site.libguides %}
                        <li>
                         <a href="{{site.baseurl}}{{ libguide.url}}">{{libguide.title}}</a>
                         </li>
                                {% endfor %}
                                    </ul></div>
            
                    </div>

                    <div class="small-12 columns service-container-new">
                            <div class="small-12 medium-4 columns"><h4 class="post-side-title">LibCal</h4></div>
                            <div class="small-12 medium-8 columns">  <ul class="custom-dots">
                                    {% for libcals in site.libcal %}
                                    <li>
                                        <a href="{{site.baseurl}}{{ libcals.url}}">{{libcals.title}}</a>
                                    </li>
                                    {% endfor %}
            
                                </ul></div>
                            
                                    </div>

                    <div class="small-12 columns service-container-new">
                        <div class="small-12 medium-4 columns "><h4 class="post-side-title">
                            LibAnswers &amp; LibChat
                        </h4></div>
                        <div class="small-12 medium-8 columns">   <ul class="custom-dots">
                                {% for libanswer in site.libanswers %}
                                <li>
                                    <a href="{{site.baseurl}}{{ libanswer.url}}">{{libanswer.title}}</a>
                                </li>
                                {% endfor %}
        
                            </ul></div>
                        
                                </div>
                          
    </div>

    <div class="row">
            <div class="small-12 columns"><h3>
                Stands4
            </h3></div>
            <div class="small-12 columns service-container-new">
                    <div class="small-12 medium-4 columns"><h4 class="post-side-title">Quotes.net</h4></div>
                    <div class="small-12 medium-8 columns">  <ul class="custom-dots">
                            
                                                {% for page in site.quotes %}
                                                <li style="list-style-type: none;">
                                                    <a href="{{site.baseurl}}{{ page.url}}">{{page.title}}</a>
                                                </li>
                                                {% endfor %}
                            
                            
                            
                                            </ul></div>
                    
                            </div>
<!-- 
    <div class="medium-12 columns" id="homepage-implementations-column">
        <h2>Browse by Service</h2>
        <h3 class="service-titles">
            <i class="fa fa-code" aria-hidden="true"></i> Springshare </h3>

        <div class="row">
            <div class="medium-6 large-4 columns implementation">
                <h4>LibGuides</h4>
                <p>


                    <ul>

                        {% for libguide in site.libguides %}
                        <li>
                            <a href="{{site.baseurl}}{{ libguide.url}}">{{libguide.title}}</a>
                        </li>
                        {% endfor %}



                    </ul>
                </p>
            </div>
            <div class="medium-6 large-4 columns implementation">
                <h4>LibCal</h4>
                <p>
                    <ul>
                        {% for libcals in site.libcal %}
                        <li>
                            <a href="{{site.baseurl}}{{ libcals.url}}">{{libcals.title}}</a>
                        </li>
                        {% endfor %}

                    </ul>

                </p>
            </div>

            <div class="large-4 columns implementation">
                <h4>LibAnswers &amp; LibChat</h4>
                <p>
                    <ul>
                        {% for libanswer in site.libanswers %}
                        <li>
                            <a href="{{site.baseurl}}{{ libanswer.url}}">{{libanswer.title}}</a>
                        </li>
                        {% endfor %}

                    </ul>

                </p>
            </div>

        </div>

    </div>

    <div class="medium-12 columns" id="homepage-implementations-column">
        <div class="medium-12 columns implementation">
            <h3 class="service-titles">
                <i class="fa fa-code" aria-hidden="true"></i> Quotes.net </h3>
            <p>


                <ul>

                    {% for page in site.quotes %}
                    <li style="list-style-type: none;">
                        <a href="{{site.baseurl}}{{ page.url}}">{{page.title}}</a>
                    </li>
                    {% endfor %}



                </ul>
            </p>
        </div>

    </div>
 -->






</div>
</div>