<footer>


    <div class="row expanded">
This site was created and is maintained by <a href="{{site.personalhomepage}}">{{ site.author }}</a> <a href="{{site.githuburl}}" class="fa fa-github"></a><a href="{{ site.twitterurl }}" class="fa fa-twitter"></a> and is given to the public domain by the <a href="https://unlicense.org/">UNLICENSE</a> <br> <em>If I can help you use some of the code featured here, let me know!</em>

       
       
       
    


    </div>




<!--    <div class="row expanded">
This site is licensed using the <a href="https://unlicense.org/">UNLICENSE</a>. Enjoy! <br>
        Created and maintained by <a href="{{site.personalhomepage}}">{{ site.author }}</a> 
       
        <a href="{{site.githuburl}}" class="fa fa-github"></a>
        <a href="{{ site.twitterurl }}" class="fa fa-twitter"></a>


    </div>-->


</footer>