<footer>

    <div class="row">
        <div class="columns small-12 medium-6"> <p>
                This site was created and is maintained by <a href="{{site.personalhomepage}}">{{ site.author }}</a> <a href="{{site.githuburl}}" class="fa fa-github"></a><a href="{{ site.twitterurl }}" class="fa fa-twitter"></a>. </p><p>
                    It's given to the public domain using the <a href="https://unlicense.org/">Unlicense</a>.
                </p></div>
        <div class="columns small-12 medium-6"><p> <strong>If I can help you use some of the code featured here, let me know!</strong>
        </p>
        <form id="contact-form-apis" action="https://getsimpleform.com/messages?form_api_token=f7b81c80e418b6d4341375a3ef9e9865" method="post">
            <input type="text" name="name" placeholder="Your name">
            <input type="email" name="_replyto" placeholder="Email">
            <textarea name="message" id="message" rows="12" placeholder="Message   "></textarea>
            <input  id="submit-button" type="submit" class="button" value="Send">
        </form> </div>
    </div>

  <!--   <div class="row">
            <p>
                This site was created and is maintained by <a href="{{site.personalhomepage}}">{{ site.author }}</a> <a href="{{site.githuburl}}" class="fa fa-github"></a><a href="{{ site.twitterurl }}" class="fa fa-twitter"></a>. </p><p>
                    It's given to the public domain using the <a href="https://unlicense.org/">Unlicense</a>.
                </p><p> <strong>If I can help you use some of the code featured here, let me know!</strong>
            </p>
            <form id="contact-form-apis" action="https://getsimpleform.com/messages?form_api_token=f7b81c80e418b6d4341375a3ef9e9865" method="post">
                <input type="text" name="name" placeholder="Your name">
                <input type="email" name="_replyto" placeholder="Email">
                <textarea name="message" id="message" rows="12" placeholder="Message   "></textarea>
                <input  id="submit-button" type="submit" class="button" value="Send">
            </form> 
    
    
 --></div>    
    
     
  

       
       
       
    


    </div>




<!--    <div class="row expanded">
This site is licensed using the <a href="https://unlicense.org/">UNLICENSE</a>. Enjoy! <br>
        Created and maintained by <a href="{{site.personalhomepage}}">{{ site.author }}</a> 
       
        <a href="{{site.githuburl}}" class="fa fa-github"></a>
        <a href="{{ site.twitterurl }}" class="fa fa-twitter"></a>


    </div>-->


</footer>