<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/b5b4f2ce2b.js"></script>
    <link rel="stylesheet" href="{{site.baseurl}}/css/customfoundation.min.css">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Martel:300" rel="stylesheet"> 


<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//ashleykunsa.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->


<!-- Piwik Image Tracker-->
<img src="http://ashleykunsa.com/piwik/piwik.php?idsite=2&rec=1" style="border:0" alt="" />
<!-- End Piwik -->



    
</head>

<body>

    {% include header.html %}

    <div class="content">

        {{ content }}

    </div>

    {% include footer.html %}
</body>

</html>