<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
         
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/customfoundation.min.css">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Martel:300" rel="stylesheet"> 


<!-- {%include google-analytics.html%} -->




</head>

<body>
{%include goat-analytics.html%}
    {% include header.html %}

    <div class="content">

        {{ content }}

    </div>

    {% include footer.html %}
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "873f0a7e90d74f5bbaca7e7ed9ea63ac"}'></script><!-- End Cloudflare Web Analytics -->
</body>

</html>