<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/b5b4f2ce2b.js"></script>
    <link rel="stylesheet" href="{{site.baseurl}}/css/customfoundation.min.css">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Heebo:300|Martel:300|Raleway:300|Work+Sans:300" rel="stylesheet"> 

    
</head>

<body>

    {% include header.html %}

    <div class="content">

        {{ content }}

    </div>

    {% include footer.html %}
</body>

</html>