<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
         
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/customfoundation.min.css">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis:300|Martel:300" rel="stylesheet"> 

    

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98096992-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-98096992-1');
</script>
 -->




<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//18.216.158.81/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//18.216.158.81/piwik.php?idsite=2&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->


   



</head>

<body>
    {% include header.html %}
 

    <div class="row">
        <div class="medium-12 columns"> <h2 class="post-side-title">{{page.title}}</h2> <br> 
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">{{content}}</div>
    </div>
    







    {% include footer.html %}

</body>

</html>